/** =====================================
    VARIABLES
    ================================== */


// Primary Colors
$cobalt: #1878E0;
$cerulean: #0099D7;

// Gray Colors
$shadow:#27333C;
$steel: #5F83A5; 
$dove: #C5D6E6;
$fog: #EBF0F6;
$mist: #F7F9FA;
$white: #FFFFFF;

// Custom Colors
$shadow-70: #27333CB3;
$shadow-00: #27333C00;
$shadow--15: #27333C26;
$azure: #3A5F83;


// Media Queries
$breakpoints: (
  small : 320px,
  medium: 768px,
  large : 1024px
);

@mixin viewport($size) {
  @media only screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Dropdown Icons
$assets-path: '../assets/images/';
$icons: (
  strength: "icon_01strength.svg",
  diversity: "icon_02diversity.svg",
  hammer: "icon_03hammer.png",
  heart: "icon_04heart.png",
  scientist: "icon_05scientist.svg",
  blueprint: "icon_06blueprint.svg",
  investor: "icon_07investor.svg",
  chevron: "chevron-right.svg"
);

@mixin icon($path) {
  background-image: url($assets-path + map-get($icons, $path));
  background-repeat: no-repeat;
  height: 28px;
  background-size: 100% 28px;

  @include viewport(medium) {
    height: 35px;
    background-size: 100% 35px;
  }
}