/** =====================================
		TYPOGRAPHY
		================================== */

		.typography-standard-link {
			-webkit-transition: color 200ms ease;
			transition: color 200ms ease;
			font-family: Larsseit, sans-serif;
			color: #0099d7;
		}

		.typography-standard-link:hover {
			color: #1878e0;
		}